/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: #ccc;
  margin: 1.875rem 3.125rem;
  line-height: 1.5;
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background: var(--dark);
  border: 0;
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
}

.wrapper {
  display: grid;
  gap: 1.25rem;
}

/* Navigation */
.main-nav ul {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding: 0;
}

.main-nav a {
  background: var(--primary);
  box-shadow: var(--shadow);
  color: var(--dark);
  display: block;
  font-size: 1.1rem;
  padding: 0.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}

/* Top Container */
.showcase-container {
  display: grid;
  gap: 1.25rem;
  grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

.showcase {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/pic2.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  grid-area: showcase;
  min-height: 25rem;
  padding: 3rem;
}

.showcase h1 {
  color: var(--light);
  font-size: clamp(2rem, 4vw, 4rem);
  margin-bottom: 0;
}

.showcase p {
  color: var(--light);
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  margin-top: 0;
}

.showcase .btn {
  margin-top: 1.25rem;
}

.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

/* Boxes */
.boxes {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
}

.box {
  background: var(--primary);
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
  text-align: center;
}

.box h3 {
  padding: 1rem 0;
}

/* Info */
.info {
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  padding: 3rem;
}

.info h2 {
  margin-bottom: 1rem;
}

.info p {
  margin-bottom: 1.5rem;
}

/* Portfolio */
.portfolio {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
}

.portfolio img {
  box-shadow: var(--shadow);
  width: 100%;
}

/* Footer */
footer {
  background: var(--dark);
  color: var(--light);
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
}

/* Media Queries */
@media(max-width: 700px) {
  .showcase-container {
    grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-b';
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    margin: auto;
    text-align: center;
  }
}

@media(max-width: 500px) {
  body {
    margin: 1.25rem;
  }

  .showcase-container {
    grid-template-areas:
      'showcase'
      'top-box-a'
      'top-box-b';
  }

  .showcase h1 {
    font-size: 1.5rem;
    white-space: nowrap;
  }

  .showcase p {
    font-size: 1rem;
  }

  .info h2 {
    font-size: 1.2rem;
  }

  .info p {
    font-size: 1rem;
  }
}